{% extends '@Main/base.html.twig' %}
{% block individual_style %}
    <link rel="stylesheet" href="{{ asset('assets/css/device_manager.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/pop-up-window.css') }}">
{% endblock individual_style %}

{% block main_content %}

{% if scanning is defined %}
    <script type="text/javascript">

        //Функция показа
        function show(state, device, type, inter_face){
            document.getElementById('window').style.display = state;
            document.getElementById('wrap').style.display = state;
            document.getElementById('main_bundle_device_form_personalId').value = device;
            document.getElementById('main_bundle_device_form_type').value = type;
            document.getElementById('main_bundle_device_form_interface').value = inter_face;
        }

    </script>
    <div onclick="show('none')" id="wrap"></div>

    <!-- Само окно-->
    <div id="window">
        <!-- Картинка крестика-->
        <img class="close" onclick="show('none')" src="http://sergey-oganesyan.ru/wp-content/uploads/2014/01/close.png">
        <div class="form-group">
            {{ form_start(form) }}
            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.type, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.interface, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.personalId, {'attr': {'class': 'form-control'}}) }}
            <button type="submit" class="btn btn-success" formnovalidate>Создать</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endif %}

    <div class="row">
        <div class="col-md-10 top-level bord">
            <div class="row bord-bot pad-bot-20">
                <div class="col-md-2 {% if thing=='devices' %}active{% endif %}">
                    <a href="{{ path('dispatcher_devices') }}">
                        Устройства
                    </a>
                </div>
                <div class="col-md-2 {% if thing=='interfaces' %}active{% endif %}">
                    <a href="{{ path('dispatcher_interfaces') }}">
                        Интерфейсы
                    </a>
                </div>
            </div>
            <div class="row">
                <!-- Devices ---------------------------------------    -->
                {% if thing=='devices' %}
                    <div class="col-md-4">
                        <ul>
                            <li class="{% if sensors is defined %}active{% endif %}">
                                <a href="{{ path('dispatcher_sensors') }} " >
                                    Сенсоры
                                </a>
                            </li>
                            <li class="{% if activators is defined %}active{% endif %}">
                                <a href="{{ path('dispatcher_activators') }}">
                                    Активаторы
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 bord">
                        <ol>
                            {% if sensors is defined %}
                                {% for sensor in sensors %}
                                <li>
                                    <a href="{{ path('dispatcher_device_widget', {'deviceId' : sensor.id}) }}">
                                        {{ sensor.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            {% endif %}

                            {% if activators is defined %}
                                {% for activator in activators %}
                                    <li>
                                        <a href="{{ path('dispatcher_device_widget', {'deviceId' : activator.id}) }}">
                                            {{ activator.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ol>
                    </div>
                {% endif %}

                <!-- Interfaces ---------------------------------------    -->

                {% if thing=='interfaces' %}
                    <div class="col-md-4">
                        <ul>
                            <li class="{% if onewire is defined %}active{% endif %}">
                                <a href="{{ path('dispatcher_onewire') }} " >
                                    1 Wire
                                </a>
                            </li>
                            <li class="{% if wifi is defined %}active{% endif %}">
                                <a href="{{ path('dispatcher_wifi') }}">
                                    Wi-Fi
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 bord">
                        <ol>
                            {% if onewire is defined %}
                                {% for onew in onewire %}
                                    <li>
                                        <a href="#" class="wid80">
                                            {{ onew.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% if scanning is defined %}
                                    {% if activators is defined %}
                                        {% for activator in activators %}
                                            <li>
                                                <a href="#" class="wid80">
                                                    {{ activator }}
                                                </a>
                                                <button  onclick="show('block', '{{ activator }}', 'Activator', '1-Wire')" class="align-right myButton">Добавить</button>
                                            </li>
                                        {% endfor %}
                                    {% endif %}

                                    {% if activators is defined %}
                                        {% for sensor in sensors %}
                                            <li>
                                                <a href="#" class="wid80">
                                                    {{ sensor }}
                                                </a>
                                                {% set type = sensor %}
                                                <button  onclick="show('block', '{{ sensor }}', 'Sensor', '1-Wire')" class="align-right myButton">Добавить</button>
                                            </li>
                                        {% endfor %}
                                    {% endif %}

                                    {% else %}
                                        {% if activators != 0 %}
                                            {% for activator in activators %}
                                                <li>
                                                    <a href="#">
                                                        {{ activator.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}

                                        {% if sensors != 0 %}
                                            {% for sensor in sensors %}
                                                <li>
                                                    <a href="#">
                                                        {{ sensor.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                {% endif %}
                                {% if device_error is defined %}
                                    {{ device_error }}
                                {% endif %}
                            {% endif %}

                            {% if wifi is defined %}
                                {% for i in range(1,4) %}
                                    <li>
                                        <a href="#">
                                            Device Wi-Fi {{ i }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ol>
                    </div>
                    <div class="col-md-2 scan">
                        {% if onewire is defined %}
                        <a href="{{ path('dispatcher_scanning') }}">Сканирование</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main_content %}