{% extends '@Main/base.html.twig' %}
{% block main_content %}
    <div class="col-md-9 text-left settings-forms">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.type) }}
        {{ form_row(form.interface) }}
        <input type="submit" class="btn btn-success" value="Добавить">
        {{ form_end(form) }}

    </div>

{% endblock main_content %}