{% extends '@Main/base.html.twig' %}
{% block individual_style %}
    <link rel="stylesheet" href="{{ asset('assets/css/button.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/room.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> <!-- For slider -->
{% endblock individual_style %}
{% block nav_bar %}
    <li><a href="{{ path('main_home') }}" class="glyphicon glyphicon-home"></a></li>
    <li class="active"><a href="{{ path('main_rooms') }}">Комнаты</a></li>
    <li><a href="{{ path('dispatcher_devices') }}">Диспетчер устройств</a></li>
    <li><a href="{{ path('main_widgets') }}">Виджеты</a></li>
    <li><a href="{{ path('main_settings') }}">Настройки</a></li>
{% endblock nav_bar %}
{% block main_content %}
    {#For slider st#}
    <style>
        .mySlides {display:none}
    </style>
    {#For slider end#}
<script>

    function sendPost() {
        $.ajax ({
            url: "{{ path('main_set_activator') }}",
            type: "POST",
            data: {"ask" : "1"},
        })
    }
</script>
    <div class="col-md-9 text-left">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="w3-content"">
                    {% set cnt = 0 %}
                        {% for i in room %}
                            {% if cnt%3==0  %}
                                <div class="mySlides">
                            {% endif %}
                            {% set cnt = cnt + 1 %}
                            <div class="col-md-4 room">
                                <div class="thumbnail">
                                    <a href="{{ path('main_room', {'roomId' : i.id}) }}"><h4>{{ i.getName() }}</h4></a>
                                    <img  class="img-roundedl" src='{{ asset(i.linkToImage) }}' alt="...">

                                    <p class="temperature">
                                        {% for value in sensor_value %}
                                            Температура : {{ value.reading }} &deg;С
                                        {% endfor %}
                                    </p>
                                    <p class="humidity">
                                        Влажность 60 %
                                    </p>
                                    {% if 1==1 %}
                                        <div class="can-toggle">
                                            <input id="{{ i.getName() }}" type="checkbox" onclick="sendPost()" {% if device_status == '1' %}checked{% endif %} >
                                            <label for="{{ i.getName() }}">
                                                <div class="can-toggle__switch" data-checked="Вкл"  data-unchecked="Выкл"></div>
                                                <div class="can-toggle__label-text">Свет</div>
                                            </label>
                                        </div>
                                    {% endif %}
                                    <div class="caption">
                                        <button class="btn btn-danger glyphicon glyphicon-off"></button>
                                        <button class="btn btn-success glyphicon glyphicon glyphicon-thumbs-up"></button>
                                        <button class="btn btn-warning glyphicon glyphicon glyphicon-flash"></button>
                                        <button class="btn btn-primary glyphicon glyphicon glyphicon glyphicon-certificate"></button>
                                    </div>
                                </div>
                            </div>
                            {% if cnt%3==0  %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="w3-center">
                            <div class="w3-section">
                                <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
                                <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
                            </div>
                        </div>
                        <script src="{{ asset('assets/js/slider-script.js') }}"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
