{% extends '@Main/base.html.twig' %}
{% block individual_style %}
    <link rel="stylesheet" href="{{ asset('assets/css/button.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/room.css') }}">
{% endblock individual_style %}
{% block nav_bar %}
    <li><a href="{{ path('main_home') }}" class="glyphicon glyphicon-home"></a></li>
    <li class="active"><a href="{{ path('main_rooms') }}">Комнаты</a></li>
    <li><a href="{{ path('dispatcher_devices') }}">Диспетчер устройств</a></li>
    <li><a href="{{ path('main_widgets') }}">Виджеты</a></li>
    <li><a href="{{ path('main_settings') }}">Настройки</a></li>
{% endblock nav_bar %}
{% block main_content %}

<script>

    function sendPost() {
        $.ajax ({
            url: "{{ path('main_set_activator') }}",
            type: "POST",
            data: {"ask" : "1"},
        })
    }
</script>
    <div class="col-md-9 text-left">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    {% for i in room %}
                        <div class="col-md-3 room">

                            <h4>{{ i.getName() }}</h4>
                            <img  src='{{ asset(i.linkToImage) }}' alt="...">

                            <p class="temperature">
                                {% for value in sensor_value %}
                                   Температура : {{ value.reading }} &deg;С
                                {% endfor %}
                            </p>
                            <p class="humidity">
                                Влажность 60 %
                            </p>
                            {% if i.sensor == 'Temperature1' %}
                            <div class="can-toggle">
                                <input id="{{ i.getName() }}" type="checkbox" onclick="sendPost()" {% if device_status == '1' %}checked{% endif %} >
                                <label for="{{ i.getName() }}">
                                    <div class="can-toggle__switch" data-checked="Вкл"  data-unchecked="Выкл"></div>
                                    <div class="can-toggle__label-text">Свет</div>
                                </label>
                            </div>
                            {% endif %}

                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}