{% extends '@Main/base.html.twig' %}
{% block individual_style %}
    <link rel="stylesheet" href="{{ asset('assets/css/button.css') }}">
{% endblock individual_style %}
{% block main_content %}

    <div class="col-md-9 text-left">
        <div class="row">
            {% for i in room %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <h4>{{ i.getName() }}</h4>
                        <img class="img-roundedl" style="max-height:210px;" src='{{ i.getLinkToImage() }}' alt="...">
                        <p> {{ i.getSensor() }} </p>
                        <div class="can-toggle">
                            <input id="{{ i.getName() }}" type="checkbox">
                            <label for="{{ i.getName() }}">
                                <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
                                <div class="can-toggle__label-text">{{ i.getDevice() }}</div>
                            </label>
                        </div>
                        <div class="caption">
                            <button class="btn btn-danger glyphicon glyphicon-off"></button>
                            <button class="btn btn-success glyphicon glyphicon-thumbs-up"></button>
                            <button class="btn btn-warning glyphicon glyphicon glyphicon-flash"></button>
                            <button class="btn btn-primary glyphicon glyphicon glyphicon glyphicon-certificate"></button>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock main_content %}