{% extends '@Main/base.html.twig' %}
{% block nav_bar %}
    <li><a href="{{ path('main_home') }}" class="glyphicon glyphicon-home"></a></li>
    <li><a href="{{ path('main_rooms') }}">Комнаты</a></li>
    <li><a href="{{ path('dispatcher_devices') }}">Диспетчер устройств</a></li>
    <li><a href="{{ path('main_widgets') }}">Виджеты</a></li>
    <li class="active"><a href="{{ path('main_settings') }}">Настройки</a></li>
{% endblock nav_bar %}
{% block main_content %}
    <style>
        .menu a{
            color:white;
            font-size: 20px;
        }
        a:hover{
            color:red;
        }
    </style>
    <div class="col-md-9 text-left menu">
        <a href="{{ path('main_addroom') }}" >Добавить комнату</a>
        <hr>
        <a href="{{ path('main_addDevice') }}" >Добавить виртуальное устройство</a>
        <hr>
        <a href="{{ path('main_addtask') }}" >Добавить задание</a>
        <hr>
        <a href="{{ path('main_setscan') }}" >Настройки сканирования</a>
    </div>
{% endblock main_content %}