<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-migrate-3.0.0.min.js') }}"></script>
    <title>Title</title>
</head>
<body>
    <div class="wrapper">
        <div class="top_container">
            <div class="row">
                <div class="col-md-12 header">
                    <div class="row">
                        <div class="col-md-2 logo">
                            logo
                        </div>
                        <div class="col-md-8 top-info">
                            top-info
                        </div>
                        <div class="col-md-2 warnings">
                            warnings
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 top-menu">
                    <ul>
                        <li>
                            <a href="#" class="home">Дом</a>
                        </li>
                        <li>
                            <a href="#" class="rooms">Комнаты</a>
                        </li>
                        <li>
                            <a href="#" class="dispatcher">Диспетчер устройств</a>
                        </li>
                        <li>
                            <a href="#" class="widgets">Виджеты</a>
                        </li>
                        <li>
                            <a href="#" class="settings">Настройки</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="middle_container">
            <div class="row">
                <div class="col-md-2 left-menu">
                    left-menu
                </div>
                <div class="col-md-10 main-content">
                    main-content
                </div>
            </div>
        </div>
        <div class="bottom_container">
            <div class="row">
                <div class="col-md-12">
                    &copy; dom-logic 2018
                </div>
            </div>
        </div>
    </div>
</body>
</html>